body {
	position: fixed;
	color: #ffffff;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;

	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
	}

#login {
	display: block;
	text-align: left;
    position: relative;
    }
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
}
