body {
	position: fixed;
	color: #ffffff;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;

	background-color: #ffffff;
	margin: 0px;
	overflow: hidden;
	}

#login {
	display: block;
	text-align: left;
    position: relative;
    overflow:hidden;
    background-color: red;
    }
.ui-dialog-titlebar-close {
  visibility: hidden;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 1px solid #90d93f;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
    text-align: left;
}
.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: #b0de78;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
}
table, th, td {
    border: 0px solid;
    border-collapse: collapse;
}
#table1 {
	position: relative;
    width: 99.5%;
    height: 200px;
    top: 20px;
    border: 1px solid gray;
    margin: 0px;
    overflow-y: scroll;
    z-index: 100;
}
#readyButton{
	position:relative;
	left: 50%;
	margin-left: -50px;
	width:100px;
	height: 30px;
	top:25px;
}
#plName{
	position: relative;
	width: 33.33%;
}
